@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond&display=swap");

:root {
	--primary-color: #ffe066;
	--secondary-color: #124559;
	--accent-color1: black;
	--accent-color2: blue;

	--heading-font: "Dancing Script";
	--paragraph-font: "EB Garamond";
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: var(--paragraph-font);
    max-width: 900px;
    text-align: center;
}

h1,
h2,
h3 {
	font-family: var(--heading-font);
}

header {
	background-color: var(--primary-color);
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	padding: 0.5rem;
}

header img {
	width: 5rem;
	padding: 1rem;
}

header h1 {
	align-self: center;
}

nav {
	background-color: rgb(54, 212, 240);
	display: flex;
	flex-direction: column;
}

nav a {
	color: var(--accent-color1);
	text-align: center;
	padding: 2rem;
    text-decoration: none;
	width: 100%;
}

nav a:hover {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

h2 {
	text-align: center;
	border-bottom: 1px solid black;
}

.card {
	text-align: center;
	border: 2px solid black;
	margin: 0 auto;
	border-radius: 1%;
	margin-bottom: 2%;
}

.card h3 {
	background-color: var(--primary-color);
	box-sizing: border-box;
	margin: 0;
}

.card ul {
	list-style-type: none;
	text-align: left;
}

.card ul li a {
	color: var(--accent-color2);
}

footer {
	text-align: center;
	background-color: var(--primary-color);
	padding: 3%;
}

footer p {
	display: block;
	line-height: 2em;
	font-size: large;
}
